header {
    background-color: #468ad3;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
}

nav a:hover {
    color: #ffd700;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 20px;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo:hover {
    color: #ddd;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}