<footer>
    <div class="footer-container">
        <!-- Left Section -->
        <div class="left-section">
            <h1>Social Media</h1>
            <div class="social-links">
                <a href="https://www.facebook.com" target="_blank" class="social-link">
                    <img src="assets/facebook-icon.png" alt="Facebook">Facebook</a>
                <a href="https://www.twitter.com" target="_blank" class="social-link">
                    <img src="assets/twitter-icon.png" alt="Twitter">Twitter</a>
                <a href="https://www.instagram.com" target="_blank" class="social-link">
                    <img src="assets/instagram-icon.png" alt="Instagram">Instagram</a>
            </div>
        </div>

        <div class="center-section">
            <h1>Site Links</h1>
            <div class="site-links">
                <a routerLink="/">{{a | uppercase}}</a>
                <a routerLink="/categorie">{{cat | uppercase}}</a>
                <a routerLink="/contact-us">{{con | uppercase}}</a>
                <a routerLink="/inscrire">{{insc | uppercase}}</a>
                <a routerLink="/connexion">{{connexion| uppercase}}</a>
            </div>
        </div>

        <div class="right-section">
            <h1>Contact</h1>
            <div class="contact-links">
                <a href="https://www.Gmail.com">{{mail | uppercase}}</a>
                <a href="tel:+216 50 572 304">{{tel | uppercase}}</a>
                <a href="https://www.linkedin.com" target="_blank">{{lin | uppercase}}</a>
                <a href="https://www.github.com" target="_blank">{{git | uppercase}}</a>
            </div>
        </div>
    </div>
<br>
    <h5>&copy; 2024 <span class="author-name">Mosbah Khalfallah</span> Gaming Store</h5>
</footer>