.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form {
    flex: 1;
    max-width: 400px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    order: 2; 
}

.contact-form h1 {
    text-align: center;
    color: #007bff;
}

.contact-form form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    color: #666;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-image {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    flex: 1;
    margin-right: 10px;
    align-items: center;
    order: 1;
}

.contact-image img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}