<div class="description-store">
    <div class="store-info">
        <div class="image-container">
            <img src="assets/store-image.jpeg" alt="MegaByte Gaming Store">
            <a (click)="onClick()" class="explore-button">Explorer</a>
        </div>
        <div class="store-description">
            <h1>MegaByte Gaming Store</h1>
            <p>Bienvenue chez MegaByte Gaming Store, votre destination ultime pour les composants gamer de haute qualité. Nous sommes dédiés à fournir les derniers produits et technologies pour optimiser votre expérience de jeu.</p>

            <h2>Nos Engagements</h2>
            <p>En plus de fournir des produits de qualité, nous nous engageons à offrir un service client exceptionnel. Notre équipe passionnée est là pour répondre à toutes vos questions et vous guider dans le choix des meilleurs composants pour vos besoins.</p>
        </div>
    </div>
</div>
<br>