<div class="content-container">
    <div class="connexion-image">
        <img src="assets/connexion.gif" alt="Image de Contact">
    </div>

    <div class="login-form">
        <h1>Connexion</h1>
        <br>
        <form>
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required placeholder="Taper votre mail">

            <label for="passwd">Mot de passe :</label>
            <input type="password" id="passwd" name="passwd" required placeholder="Taper votre mot de passe">

            <button type="submit" name="connexion">Se connecter</button>
            <p class="login-link"><a href="#">Mot de passe oublié ? </a></p>
        </form>
    </div>
</div>
