<div class="content-container">
    <div class="form-container">
        <h1>Inscription</h1><br>
        <form (submit)="submitForm()">
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required placeholder="Taper votre nom">

            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" required placeholder="Taper votre prénom">

            <label for="tel">N° de Téléphone :</label>
            <input type="number" id="tel" name="tel" required placeholder="Taper votre numéro">

            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required placeholder="Taper votre mail">

            <label for="passwd">Mot de passe :</label>
            <input type="password" id="passwd" name="passwd" required placeholder="Taper votre mot de passe">
<br><br>
            <button type="submit">Inscrire</button>
        </form>
    </div>

    <div class="image-container">
        <img src="assets/register.gif" alt="Image de Contact">
    </div>
</div>
